:root {
  
  --sn-stylekit-base-font-size: 14px;

  --sn-stylekit-font-size-p: 1rem;
  --sn-stylekit-font-size-editor: 1.21rem;

  --sn-stylekit-font-size-h6: 0.8rem;
  --sn-stylekit-font-size-h5: 0.9rem;
  --sn-stylekit-font-size-h4: 1rem;
  --sn-stylekit-font-size-h3: 1.1rem;
  --sn-stylekit-font-size-h2: 1.0rem;
  --sn-stylekit-font-size-h1: 1.3rem;

  --sn-stylekit-neutral-color: #0d7ce0;
  --sn-stylekit-neutral-contrast-color: white;

  --sn-stylekit-info-color: #48ca96;
  --sn-stylekit-info-contrast-color: #000000;

  --sn-stylekit-success-color: #0ce671;
  --sn-stylekit-success-contrast-color: white;

  --sn-stylekit-warning-color: #ff751f;
  --sn-stylekit-warning-contrast-color: white;

  --sn-stylekit-danger-color: #fd4c4c;
  --sn-stylekit-danger-contrast-color: white;

  --sn-stylekit-shadow-color: #797979;
  --sn-stylekit-background-color: #ebeef5;
  --sn-stylekit-border-color: #ebeef5;
  --sn-stylekit-foreground-color: black;

  --sn-stylekit-contrast-background-color: #f4f3f9;
  --sn-stylekit-contrast-foreground-color: #000000;
  --sn-stylekit-contrast-border-color: #ebe7ec;

  --sn-stylekit-secondary-background-color: #e4e5ef;
  --sn-stylekit-secondary-foreground-color: #6e647f;
  --sn-stylekit-secondary-border-color: #bf3d3d;

  --sn-stylekit-secondary-contrast-background-color: #d6dbe0;
  --sn-stylekit-secondary-contrast-foreground-color: #000000;
  --sn-styleki--secondary-contrast-border-color: #824141;


  --sn-stylekit-editor-background-color: #fdfdfd;
  --sn-stylekit-editor-foreground-color: #000;

  --sn-stylekit-paragraph-text-color: #000000;

  --sn-stylekit-input-placeholder-color: rgb(140, 140, 140);
  --sn-stylekit-input-border-color: #000000;

  --sn-stylekit-scrollbar-thumb-color: #505050;
  --sn-stylekit-scrollbar-track-border-color: #5a5a5a;

  --sn-stylekit-general-border-radius: 2px;

  --sn-stylekit-monospace-font: 'Ubuntu Mono', courier, monospace;
  --sn-stylekit-sans-serif-font: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
}

.date {
  margin-top: 5px;
}

#editor-title-bar {
  background-color: #f3f3f3;
}

.infinite-scroll .selected .tag-info .title {
  color: #b70ce6;
}

.note.selected {
  background-color: #4affd9 !important;
  color: #000000 !important;
  font-weight: bold;
}

.note.selected .date {
  opacity: 1;
}

.note.selected .tags-string .ng-binding {
  opacity: 1;
}